.jumbotron {
    padding: 5rem 1rem;
    background-color: #f5f3f4;
    min-height: 100vh;
}

#lht {
    padding: 5rem;
    min-height: 100vh;
}

#kab {
    min-height: 100vh;
    padding: 5rem;
    background-color: #f5f3f4;
}

footer {
    padding: 0.1rem;
    color: #f5f3f4;
    background-color: #a71e34;
    text-align: center;
    font-weight: bold;
}